
.loadmore {
    text-align: center;
    margin: 40px 0px;
}

.title__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px 0px;
}

.video__banner {
    position: relative;
    height: 600px;
    border-radius: 15px;
    margin: 80px 0px;
    overflow: hidden;

    video {
        object-fit: cover;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .content {
        position: absolute;
        z-index: 2;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        top: 50%;
        left: 5%;
        transform: translateY(-50%);
        width: 90%;

    }

    p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: rgb(235, 221, 221);
        font-size: 2rem;
        z-index: 2; 
        text-align: center;
        font-size: 50px;
        font-weight: 900;
        text-transform: uppercase;
        font-family:Georgia, 'Times New Roman', Times, serif
      }
}