.wrapper {
    margin-bottom: 10px;
    label {
        text-transform: uppercase;
    }
    input {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 3px;
        background-color: white;
    }
}