
.title {
    top: 50%;
    left: 50%;
    color: palevioletred;
    font-size: 2rem;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase;
    font-family:Georgia, 'Times New Roman', Times, serif
  }